.home-view {
    position: relative;

    .add-gag-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: $clr1;
        width: max-content;
        height: max-content;
        border-radius: 50%;
        box-shadow: 0px 0px 7px 5px rgb(0 0 0 / 50%);
        svg {
            scale: 1.2;
            color: $clr2;
            width: em(50px);
        }
    }
}
