.gag-preview {
    display: flex;
    flex-direction: column;
    gap: rem(20px);

    background-color: rgba(0, 0, 0, 0.24);
    padding: rem(10px);

    .main {
        h2 {
            margin-block-end: em(10px);
        }
    }

    .footer {
        display:  flex;
        gap: em(10px);
        cursor: pointer;
    }
}