.gag-preview {
    background-color: $clr5;
    padding-block: rem(20px);
    font-size: 1rem;

    .header {
        font-size: 1em;
        padding-inline: rem(10px);

        h2 {
            font-size: 1em;
        }

        margin-bottom: em(5px);
    }

    .main {
        font-size: 1em;
        margin-block-end: em(10px);

        h2 {
            margin-block-end: em(10px);
        }

        img {
            width: 100%;
        }
    }

    .footer {
        font-size: 1em;
        padding-inline: em(10px);
        display: flex;
        gap: em(10px);
        cursor: pointer;
        width: 100%;

        .comment {
            display: flex;
            align-items: center;
            gap: em(15px);
            padding-inline: em(15px);

            svg {
                width: em(30px);
                color: $clr6;
            }
        }
    }
}