.item-rate {
    display: flex;
    gap: rem(10px);
    font-size: 1rem;

    button {
        display: flex;
        align-items: center;
        gap: em(10px);
        padding-inline: em(10px);
        width: max-content;
        min-width: em(80px);
        font-size: 0.8em;

        &.active {
            border-color: $clr2;
            color: $clr2;
        }

        svg {
            width: em(30px);
            color: $clr6;

            &.active {
                color: $clr2;
            }
        }
    }
}
