.item-preview {
    border-radius: rem(10px);
    box-shadow: 0 0 1px 1px $clr3;
    padding: rem(20px);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family: $font1;
    overflow-x: hidden;

    .info {

        img {
            width: em(100px);
        }
    }

    &:hover .actions {
        transform: translateX(0);
    }

    .actions {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        transform: translateX(150%);
        transition: transform .6s, box-shadow .6s;

        img {
            width: em(35px)
        }
    }
}