// Roboto
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../src/styles/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../src/styles/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../src/styles/fonts/Roboto/Roboto-Medium.ttf');
}